
@main-screen-height: 473px;

.main {
  color: #ffffff;
  padding: 38px 38px;
  position: relative;
}

.main-screen {
  background-color: #1abc9c;
  min-height: @main-screen-height;
  padding: 63px 33px 33px 33px;
}